// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #04213b
$secondary = #2a6660
$accent    = #7c0191

$positive  = #033d11
$negative  = #b30418
$info      = #31CCEC
$warning   = #F2C037
